*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 3rem;
}

.buttons {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    font-size: 3rem
}

.filter{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.botonHistorial{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}